@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap");

@tailwind base;

h1 {
    @apply text-3xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

.centre-items {
    @apply flex items-center justify-center;
}

.spinner {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 5px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@tailwind components;
@tailwind utilities;
