@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;

h1,
h2,
h3 {
    @apply font-bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

button {
    @apply py-2 px-4 rounded;
}

button:focus,
input:focus,
select:focus {
    @apply outline-none;
}

input:not([type="checkbox"]):not([type="number"]),
select {
    @apply appearance-none w-full text-gray-700 leading-tight;
}

input[type="checkbox"] {
    @apply mr-1;
}

input[type="number"]:disabled {
    @apply bg-transparent;
}

.center-items {
    @apply flex items-center justify-center;
}

.box-with-btn {
    @apply flex items-center justify-between;
}

.label {
    @apply block uppercase text-gray-700 text-sm font-bold;
}

.spinner {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 5px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@tailwind components;
@tailwind utilities;
